.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.filter-container {
  margin-bottom: 16px;
}

.mat-form-field {
  width: 100%;
}

.id-column {
  width: 50px;
  text-align: center;
}

.icon-column {
  text-align: center;
  width: 70px;
}

table {
  width: 100%;
}

button[mat-icon-button] {
  margin-left: 4px;
}
