<h2>Cadastrar Novo Cliente</h2>
<form [formGroup]="clienteForm" (ngSubmit)="salvarCliente()">
  <!-- Nome -->
  <div class="form-row">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
    </mat-form-field>
  </div>

  <!-- Email -->
  <div class="form-row">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </div>

  <!-- Idade, Número da Conta e Botão -->
  <div class="form-row">
    <mat-form-field appearance="fill" class="third-width">
      <mat-label>Idade</mat-label>
      <input matInput type="number" formControlName="idade">
    </mat-form-field>

    <mat-form-field appearance="fill" class="third-width">
      <mat-label>Número da Conta</mat-label>
      <input matInput formControlName="numero_Conta">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!clienteForm.valid">Salvar Cliente</button>
    </div>
  </div>
</form>
